
.container{
    background-color: rgb(74, 74, 74);
    color:rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    word-spacing: 3px;

}

.subcontainer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    font-size: 16px;
    
}
.logo{
    margin: 10px;
    width: 300px;

    
}
.info{
    margin: 10px;
    padding: 50px;
}
.redes{
    margin: 10px;
    padding: 50px;

    
}
.horario{
    margin: 10px;
    padding: 50px;
}
