.container {
    position: relative;
    width: 100%;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    word-spacing: 3px;

}

.backgroundContainer {
    width: 100%;
    height: 100vh;   
    overflow: hidden; 
}



.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el espacio sin distorsionarse */
    object-position: center; /* Centra la imagen */
}

.navigator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
}

.content {
    margin-top: 20px;
    color: rgb(43, 43, 43);
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 40px;
    color: rgb(49, 49, 49);
    font-weight: 350;
}

.content p {
    font-size: 16px;
    color: rgb(76, 76, 76);
}

.section1 {
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.image1 {
    margin-top: 80px;
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    max-width: 800px; /* Ajusta el ancho máximo de la imagen */
}

.section2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 136, 138);
}

.subsection1 {
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);
    width: 100%;
    margin: 100px 200px;
}


.subsubsection1{
    width: 70%;
}
.subsubsection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 50px;
}

.image2 {
    height: 100%;
    object-fit: cover;
    width: 100%; /* Ajusta el ancho máximo de la imagen */

}



#phone {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.iti__flag {
    width: 20px;
    height: 15px;
}

.iti__selected-flag {
    padding: 10px;
}


