/* Contenedor principal */
.container {
    position: relative;
    width: 100%;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 3px;
}

/* Fondo con la imagen del collage */
.backgroundContainer {
    width: 100%;
    height: 100vh;   
    overflow: hidden; 
}

/* Estilo para la imagen de fondo */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el espacio sin distorsionarse */
    object-position: center; /* Centra la imagen */
}

/* Contenedor para el contenido principal */
.navigator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
}

/* Contenedor que envuelve todo el contenido de la página */
.content {
    margin-top: 20px
    ;
    color: rgb(43, 43, 43);
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sección 1 - área del collage */
.section1 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.subsection2{
    width: 50%;
}
.image2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* Sub sección que contiene el formulario */
.subsection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: rgba(240, 240, 240, 0.889); /* Fondo blanco translúcido */
    box-shadow: 0px 4px 6px rgba(35, 35, 35, 0.1);
    max-width: 1200px;
    width: 50%;
    
}

/* Estilos del formulario */
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilos para los campos de entrada */
form input, form select, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Estilos para los títulos */
form label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #5d5d5d;
}

/* Estilo para el campo de mensaje adicional */
form textarea {
    resize: vertical; /* Permitir el redimensionamiento solo vertical */
    height: 100px;
}

/* Imagen del collage */
